/* = require_tree.
 * = require_self
 */

* {
  box-sizing: border-box;
  height: auto;
  width: auto;
}

body {
  width: auto;
  background-color: rgb(210, 105, 30);
}

.container {
  width: 500px;
  margin-top: 50px;
  color: white;
  text-align: center;
  border: 15px solid yellow;
  padding: 50px;
  margin-left: 450px;
  background-color: red;
}

a {
  color: #feb236;
  text-decoration: none;
  padding: 10px;
}

.header_link,
a {
  padding: 10px;
}

a:hover {
  color: blue;
  text-decoration: none;
}

button {
  width: 100px;
  height: 30px;
  background-color: black;
}

.links,
button {
  margin-top: -20px;
}

button:hover {
  background-color: white;
}

nav {
  height: 50px;
  margin-top: -8px;
  background-color: white;
}

.header_link,
a:hover {
  color: blue;
}

.links {
  float: right;
}

.login {
  float: right;
  margin-top: -20px;
}

.enter,
input {
  display: inline-block;
  margin-top: 10px;
}

.btn {
  width: 50px;
  height: 20px;
  margin-left: 120px;
}

.colar1 {
  color: black;
}

.colar2 {
  color: #feb236;
}

.colar3 {
  color: #034f84;
}

.colar4 {
  color: #1a0136;
}
